<h2 class="mat-h2" *ngIf="data.action === 'new'">Nieuw liturgie-item</h2>
<h2 class="mat-h2" *ngIf="data.action !== 'new'">Liturgie-item bewerken</h2>

<div (keydown.enter)="closeEnter()">
  <mat-form-field appearance="fill" floatLabel="auto">
    <mat-label>Titel</mat-label>
    <input autocomplete="off" matInput [(ngModel)]="object.title" [appAutofocus]="object.type === 'titel' || object.type === 'votum' || object.type === 'collecte' || object.type === 'zegen' || object.type === 'ondertiteling'">
  </mat-form-field>

  <div *ngIf="object.type === 'votum'">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Vredegroet</mat-label>
      <input matInput [(ngModel)]="object.vredegroet">
    </mat-form-field>
  </div>
  <div *ngIf="object.type === 'lied'">
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Lied</mat-label>
      <input autocomplete="off" matInput [(ngModel)]="object.song" [appAutofocus]>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Verzen</mat-label>
      <input autocomplete="off" matInput [(ngModel)]="verses" (ngModelChange)="updateVerses()">
    </mat-form-field>
  </div>
  <div *ngIf="object.type === 'bijbeltekst'">
    <mat-form-field appearance="fill">
      <mat-label>Boek</mat-label>
      <mat-select [(ngModel)]="object.book">
        <mat-optgroup label="Oude Testament">
          <mat-option *ngFor="let book of books.OT" [value]="book.id">
            {{book.name}}
          </mat-option>
        </mat-optgroup>
        <mat-optgroup label="Nieuwe Testament">
          <mat-option *ngFor="let book of books.NT" [value]="book.id">
            {{book.name}}
          </mat-option>
        </mat-optgroup>
        <mat-optgroup label="Deuterocanonieke boeken">
          <mat-option *ngFor="let book of books.DC" [value]="book.id">
            {{book.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <div *ngIf="object.book">
      <mat-form-field floatLabel="auto">
        <mat-label>Vanaf boek</mat-label>
        <input autocomplete="off" type="number" min="1" [max]="chapters[object.book]" matInput [(ngModel)]="object.fromChapter">
      </mat-form-field>
      <mat-form-field floatLabel="auto">
        <mat-label>Vanaf vers</mat-label>
        <input autocomplete="off" type="number" min="1" matInput [(ngModel)]="object.fromVerse">
      </mat-form-field>
      <mat-form-field floatLabel="auto">
        <mat-label>Tot boek</mat-label>
        <input autocomplete="off" type="number" [min]="object.fromChapter" [max]="chapters[object.book]" matInput [(ngModel)]="object.toChapter">
      </mat-form-field>
      <mat-form-field floatLabel="auto">
        <mat-label>Tot vers</mat-label>
        <input autocomplete="off" type="number" [min]="object.fromChapter === object.toChapter ? object.fromVerse : 1" matInput [(ngModel)]="object.toVerse">
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="object.type === 'ondertiteling'">
    <p>
      <mat-form-field appearance="fill" floatLabel="auto">
        <mat-label>Subtitel</mat-label>
        <input matInput [(ngModel)]="object.subTitle">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Liedtekst</mat-label>
        <textarea style="height: 270px" matInput [(ngModel)]="object.text"></textarea>
        <mat-hint>Enter voor nieuwe regel, zet twee regels per dia, lege regel voor nieuwe dia, dubbele lege regel voor lege dia</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Weergave in liturgie</mat-label>
    <input autocomplete="off" matInput [placeholder]="object.getTitle()" [(ngModel)]="object.liturgie">
  </mat-form-field>

  <button mat-raised-button *ngIf="data.action === 'new'" color="primary" (click)="close()" style="float: right;">Toevoegen</button>
  <button mat-raised-button *ngIf="data.action !== 'new'" color="primary" (click)="close()" style="float: right;">Opslaan</button>
</div>
