<app-navigation>
  <mat-vertical-stepper [linear]="true">
    <mat-step label="Presentatie" [stepControl]="presentationForm">
      <form [formGroup]="presentationForm">
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Datum dienst" required formControlName="date" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Thema</mat-label>
            <input matInput formControlName="thema" autocomplete="off">
          </mat-form-field>
        </div>

        <div>
          <mat-radio-group formControlName="ochtend">
            <mat-radio-button [value]="true">Ochtend</mat-radio-button>
            <mat-radio-button [value]="false">Middag</mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Wachtwoord</mat-label>
            <input matInput required formControlName="wachtwoord" autocomplete="off" type="password">
            <mat-hint>Wachtwoord van de computer in de bron</mat-hint>
          </mat-form-field>
        </div>
      </form>

      <div class="form-row">
        <button mat-raised-button color="accent" matStepperNext [disabled]="!presentationForm.valid">Volgende</button>
      </div>
    </mat-step>

    <mat-step label="Liturgie" [stepControl]="liturgieForm">
      <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel *ngFor="let item of liturgieItems;let i = index" cdkDrag [disabled]="true" (click)="edit(i)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.getTitle() }}
            </mat-panel-title>
            <button mat-icon-button (click)="delete(i); $event.stopPropagation()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="button-row">
        <button mat-stroked-button color="primary" (click)="addNew('titel')">+ Titel</button>
        <button mat-stroked-button color="primary" (click)="addNew('lied')">+ Lied</button>
        <button mat-stroked-button color="primary" (click)="addNew('bijbeltekst')">+ Bijbeltekst</button>
        <button mat-stroked-button color="primary" (click)="addNew('votum')">+ Votum</button>
        <button mat-stroked-button color="primary" (click)="addNew('collecte')">+ Collecte</button>
        <button mat-stroked-button color="primary" (click)="addNew('zegen')">+ Zegen</button>
      </div>

      <div class="form-row">
        <button mat-raised-button color="accent" matStepperPrevious>Vorige</button>
        <button mat-raised-button color="accent" matStepperNext [disabled]="!liturgieForm.valid">Volgende</button>
      </div>
    </mat-step>

    <mat-step label="Collecte" [stepControl]="collecteForm">
      <form [formGroup]="collecteForm">
        <div>
          <h2 class="mat-h2">GKv</h2>
          <h3 class="mat-h3">Vandaag</h3>
          <mat-form-field>
            <mat-label>1e collecte</mat-label>
            <input matInput required formControlName="gkv1" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>2e collecte</mat-label>
            <input matInput required formControlName="gkv2" autocomplete="off">
          </mat-form-field>

          <h3 class="mat-h3">Volgende week</h3>
          <mat-form-field>
            <mat-label>1e collecte</mat-label>
            <input matInput required formControlName="gkv3" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>2e collecte</mat-label>
            <input matInput required formControlName="gkv4" autocomplete="off">
          </mat-form-field>
        </div>

        <div *ngIf="presentationForm.get('ochtend').value === false">
          <h2 class="mat-h2">NGK</h2>
          <h3 class="mat-h3">Vandaag</h3>
          <mat-form-field>
            <mat-label>1e collecte</mat-label>
            <input matInput required formControlName="ngk1" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>2e collecte</mat-label>
            <input matInput required formControlName="ngk2" autocomplete="off">
          </mat-form-field>

          <h3 class="mat-h3">Volgende week</h3>
          <mat-form-field>
            <mat-label>1e collecte</mat-label>
            <input matInput required formControlName="ngk3" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>2e collecte</mat-label>
            <input matInput required formControlName="ngk4" autocomplete="off">
          </mat-form-field>
        </div>
      </form>

      <div class="form-row">
        <button mat-raised-button color="accent" matStepperPrevious>Vorige</button>
        <button mat-raised-button color="accent" matStepperNext [disabled]="!collecteForm.valid">Volgende</button>
      </div>
    </mat-step>

    <mat-step label="Genereren">
      <button mat-raised-button color="primary" (click)="genereer()" [disabled]="downloading">Genereer presentatie</button>

      <mat-spinner *ngIf="downloading"></mat-spinner>

      <mat-selection-list *ngIf="downloaded && !downloading">
        <mat-list-option>Open de presentatie en klik op 'herstellen'</mat-list-option>
        <mat-list-option>Sla de presentatie op als {{ name() }}</mat-list-option>
        <mat-list-option>Lijn de liturgie uit in het diamodel</mat-list-option>
        <mat-list-option>Voeg de notenbalken toe</mat-list-option>
        <mat-list-option>Voeg de bijbelteksten toe</mat-list-option>
        <mat-list-option>Voeg de mededelingen voor de dienst en bij de collecte toe</mat-list-option>
        <mat-list-option>Voeg eventuele promodia's toe</mat-list-option>
        <mat-list-option>Check de presentatie</mat-list-option>
      </mat-selection-list>

      <mat-form-field style="margin-top: 20px;display: block;">
        <mat-label>Configuratie</mat-label>
        <textarea style="height: 250px;" matInput disabled>{{ generateJSON() }}</textarea>
      </mat-form-field>

      <div class="form-row">
        <button mat-raised-button color="accent" matStepperPrevious>Vorige</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</app-navigation>

