<app-navigation>
  <mat-vertical-stepper [linear]="true">
    <mat-step label="Presentatie" [stepControl]="presentationForm">
      <form [formGroup]="presentationForm">
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Datum dienst" required formControlName="date" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-radio-group formControlName="ochtend">
            <mat-radio-button [value]="true">Ochtend</mat-radio-button>
            <mat-radio-button [value]="false">Middag</mat-radio-button>
          </mat-radio-group>
        </div>
      </form>

      <div class="form-row">
        <button mat-raised-button color="accent" matStepperNext [disabled]="!presentationForm.valid">Volgende</button>
      </div>
    </mat-step>

    <mat-step label="Liturgie" [stepControl]="liturgieForm">
      <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel *ngFor="let item of liturgieItems;let i = index" cdkDrag [disabled]="true" (click)="edit(i)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.getTitle() }}
            </mat-panel-title>
            <button mat-icon-button (click)="delete(i); $event.stopPropagation()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="button-row">
        <button mat-stroked-button color="primary" (click)="addNew('titel')">+ Titel</button>
        <button mat-stroked-button color="primary" (click)="addNew('lied')">+ Lied</button>
        <button mat-stroked-button color="primary" (click)="addNew('bijbeltekst')">+ Bijbeltekst</button>
        <button mat-stroked-button color="primary" (click)="addNew('votum')">+ Votum</button>
        <button mat-stroked-button color="primary" (click)="addNew('collecte')">+ Collecte</button>
        <button mat-stroked-button color="primary" (click)="addNew('zegen')">+ Zegen</button>
      </div>

      <div class="form-row">
        <button mat-raised-button color="accent" matStepperPrevious>Vorige</button>
        <button mat-raised-button color="accent" matStepperNext [disabled]="!liturgieForm.valid">Volgende</button>
      </div>
    </mat-step>

    <mat-step label="Collecte" [stepControl]="collecteForm">
      <form [formGroup]="collecteForm">
        <div>
          <h2 class="mat-h2">GKv</h2>
          <h3 class="mat-h3">Vandaag</h3>
          <mat-form-field>
            <mat-label>1e collecte</mat-label>
            <input matInput required formControlName="gkv1">
          </mat-form-field>
          <mat-form-field>
            <mat-label>2e collecte</mat-label>
            <input matInput required formControlName="gkv2">
          </mat-form-field>

          <h3 class="mat-h3">Volgende week</h3>
          <mat-form-field>
            <mat-label>1e collecte</mat-label>
            <input matInput required formControlName="gkv3">
          </mat-form-field>
          <mat-form-field>
            <mat-label>2e collecte</mat-label>
            <input matInput required formControlName="gkv4">
          </mat-form-field>
        </div>

        <div *ngIf="presentationForm.get('ochtend').value === false">
          <h2 class="mat-h2">NGK</h2>
          <h3 class="mat-h3">Vandaag</h3>
          <mat-form-field>
            <mat-label>1e collecte</mat-label>
            <input matInput required formControlName="ngk1">
          </mat-form-field>
          <mat-form-field>
            <mat-label>2e collecte</mat-label>
            <input matInput required formControlName="ngk2">
          </mat-form-field>

          <h3 class="mat-h3">Volgende week</h3>
          <mat-form-field>
            <mat-label>1e collecte</mat-label>
            <input matInput required formControlName="ngk3">
          </mat-form-field>
          <mat-form-field>
            <mat-label>2e collecte</mat-label>
            <input matInput required formControlName="ngk4">
          </mat-form-field>
        </div>
      </form>

      <div class="form-row">
        <button mat-raised-button color="accent" matStepperPrevious>Vorige</button>
        <button mat-raised-button color="accent" matStepperNext [disabled]="!presentationForm.valid">Volgende</button>
      </div>
    </mat-step>

    <mat-step label="Genereren">
      Genereren

      <div class="form-row">
        <button mat-raised-button color="accent" matStepperPrevious>Vorige</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</app-navigation>

